<?xml version='1.0' encoding='utf-8' ?>
<widget id="com.phonegap.magic8ball" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Magic 8 ball</name>
    <description>
        A magic 8 ball app
    </description>
    <author email="to.email.max@gmail.com" href="https://github.com/MaxwellCohen">
        Maxwell Cohen
    </author>
    <content src="index.html" />
    
    <preference name="permissions" value="none"/>
    
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.vibration" />
    

    <!-- Define app icon for each platform. -->
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="/res/icon/android/icon-36-ldpi.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="/res/icon/android/icon-48-mdpi.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="/res/icon/android/icon-72-hdpi.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="/res/icon/android/icon-96-xhdpi.png" />
    <access origin="*" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    
</widget>
